{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"prefer-const": "warn",
		"no-unused-vars": "warn",
		"no-async-promise-executor": "off",
		"@typescript-eslint/no-inferrable-types": "off"
	}
}
